body {
    background-color: antiquewhite;
}
#timeOptions{
    display: none;
}
form {
    padding-top: 25px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}
.form_buttons, .form_text{
    display: flex;
    justify-content: space-evenly;
}
.form_buttons{
    padding: 15px 0 15px 0;
}
.form_text > label{
    padding-right: 5px
}
#weatherResults {
    display: grid;
    grid-template-rows: repeat(4, auto);
}
#weatherResults > h2, h3, p {
    display: flex;
    justify-content: center;
}
.img_container {
    display: flex;
    justify-content: center;
}
#forecastResults {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.day_week{
    grid-column: span 4;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
}
.data_container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    border: white solid 2px;
}
.data_container > div {
    text-align: center;
}

.footer{
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;

}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
